<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>안녕하세요 내일은 쉬겠습니다.</h1>

    <form action="http://192.168.30.81:5069/cal" method="get">  
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="계산">
    </form>

    <form action="http://192.168.30.81:5069/cal" method="post">  
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="POST계산">
    </form>

</body>
</html>